@charset "UTF-8";

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-icon:before {
  content: "\e900";
}

._icon-minus:before {
  content: "\e901";
}

._icon-plus:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #5f5f5f;
  line-height: 1;
  font-family: "CircularStd";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "CircularStd";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  line-height: normal;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(I) стили будут применяться к
всех классов, содержащих * __container
Например header_ _ container, main_ _ container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  font-weight: 500;
  color: #ffffff;
  background-color: #000;
  padding: 1.125rem 0.75rem;
  min-width: 9.5rem;
  -webkit-box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
          box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  border-radius: 5px;
  cursor: pointer;
}

.button:active {
  background-color: #6b2819;
  color: #ece4e4;
}

.button--big {
  padding: 1.125rem 3.31875rem;
  border-radius: 0 0.3125rem 0.3125rem 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button--white {
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  background-color: #fff;
  color: #313131;
  padding: 1.125rem 2.58125rem;
}

.button--white:active {
  background-color: #6b2819;
  color: #ece4e4;
}

.button-transparent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  outline: 0.0625rem solid #313131;
  min-width: 12.3125rem;
  padding: 1.125rem 0.75rem;
  -webkit-box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
          box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  border-radius: 5px;
}

.button-transparent:active {
  background-color: #6b2819;
  color: #ece4e4;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

._spoller-init ._spoller-init .spollers__title {
  position: relative;
  width: 100%;
  text-align: left;
}

._spoller-init ._spoller-init .spollers__title::before,
._spoller-init ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0.75rem;
  height: 0.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0.625rem;
  background-color: #000;
}

._spoller-init ._spoller-init .spollers__title::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 0.4375rem;
}

._spoller-init ._spoller-init .spollers__title::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.link {
  position: relative;
  line-height: 1.2941176471;
  color: #313131;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 0;
  background-color: #000;
  height: 0.125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.text-block {
  color: #313131;
  display: -ms-grid;
  display: grid;
  row-gap: 1.875rem;
}

.text-block__subtitle--color {
  color: #5f5f5f;
}

.header__container {
  max-width: 83.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
}

.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(8px) !important;
          backdrop-filter: blur(8px) !important;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 15;
}

.header__image-logo {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.5625rem;
          flex: 0 0 4.5625rem;
  width: 4.5625rem;
  position: relative;
  z-index: 5;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 5;
}

.header__link {
  font-size: 1.0625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.28;
  letter-spacing: -0.06em;
  color: #313131;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.4375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.0625rem;
}

.menu__link {
  font-size: 1.0625rem;
}

.icon-menu {
  display: none;
}

.fitness__container {
  max-width: 70.625rem;
}

.fitness__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.fitness__content {
  color: #313131;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.7%;
          flex: 0 1 47.7%;
  /* 517/1100 */
  position: relative;
  z-index: 3;
}

.fitness__title {
  font-weight: 900;
  line-height: 0.83;
}

.fitness__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.fitness__name {
  display: inline-block;
  -webkit-transform: translate(21%, 0px);
      -ms-transform: translate(21%, 0px);
          transform: translate(21%, 0px);
  position: relative;
}

.fitness__name::before {
  position: absolute;
  top: -40.642166%;
  /* -24/517 */
  left: -19.8%;
  /* 4/517 */
}

.fitness__text {
  font-weight: 700;
}

.fitness__text:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.fitness__description {
  font-weight: 400;
}

.fitness__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fitness__input {
  border-radius: 0.3125rem;
  border: 0.0625rem solid #000;
  width: 100%;
  padding: 1rem 1.0625rem;
  outline: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.fitness__input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.200000003;
}

.fitness__input::-moz-placeholder {
  color: #000;
  opacity: 0.200000003;
}

.fitness__input:-ms-input-placeholder {
  color: #000;
  opacity: 0.200000003;
}

.fitness__input::-ms-input-placeholder {
  color: #000;
  opacity: 0.200000003;
}

.fitness__input::placeholder {
  color: #000;
  opacity: 0.200000003;
}

.fitness__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.5%;
          flex: 0 1 51.5%;
  /* 566/1100 */
  position: relative;
  width: 100%;
  height: 100%;
}

.fitness__images::before {
  content: "";
  position: absolute;
  width: 88.339%;
  height: 65.57%;
  bottom: 0;
  background-color: #ffe500;
  border-radius: 250px 250px 0px 0px;
  -webkit-transform: translate(6.5%, 0px);
      -ms-transform: translate(6.5%, 0px);
          transform: translate(6.5%, 0px);
}

.fitness__image-ibg {
  padding-top: 161.660777%;
  /* 915/566 */
  z-index: 2;
}

.fitness__image-ibg img {
  -o-object-fit: cover;
     object-fit: cover;
}

.fitness__decor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.decor-fitness__item {
  position: absolute;
}

.decor-fitness__item img {
  max-width: 100%;
}

.decor-fitness__item--1 {
  width: 100.176678%;
  /* 567/566 */
  height: 34.644809%;
  /* 317/915 */
  top: 8%;
  /* 81/915 */
  left: -52.5%;
  /* 295/566 */
}

.decor-fitness__item--2 {
  width: 146.466431%;
  /* 829/566 */
  height: 88.52459%;
  /* 810/915 */
  top: -2.404372%;
  /* 22/915 */
  right: -100%;
  /* -558/566 */
}

.page__partners {
  position: relative;
  z-index: 2;
}

.partners__container {
  max-width: 73.125rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(320px, 491px) minmax(400px, 562px);
  grid-template-columns: minmax(320px, 491px) minmax(400px, 562px);
  row-gap: 1.5625rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.partners__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.partners__item-ibg {
  max-height: 6.75rem;
  padding-bottom: 41.3%;
}

.partners__item-ibg:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.partners__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.decor-partners__item {
  position: absolute;
}

.decor-partners__item--one {
  width: 13.5897435897%;
  padding-bottom: 15.7264957265%;
  background: url("../img/partners/decor.svg") 0px 0px no-repeat;
  bottom: 8.8586956522%;
  left: -13.0434782609%;
}

.about-us__container {
  max-width: 77.1875rem;
  max-width: 78.75rem;
  position: relative;
  z-index: 5;
}

.about-us__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 300px 0px 0px;
  opacity: 0.1000000015;
  background-color: #ffe500;
  width: 200%;
  /* 1187/1235 */
  height: calc(100% - 21.25rem);
  left: -109.2%;
  z-index: -1;
}

.about-us__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about-us__column-twoo {
  padding-top: 2.5rem;
}

.about-us__header:not(:last-child) {
  margin-bottom: 6.0625rem;
}

.about-us__image-one-ibg {
  outline: 0.0625rem solid #313131;
  padding-top: 132.911268%;
  /* 676/508.61 */
}

.about-us__image-one-ibg img {
  -webkit-transform: translate(25px, -22px);
      -ms-transform: translate(25px, -22px);
          transform: translate(25px, -22px);
  z-index: -1;
}

.about-us__image-twoo-ibg {
  outline: 0.0625rem solid #313131;
  padding-top: 154.555546%;
  /* 905/585.55 */
}

.about-us__image-twoo-ibg img {
  -webkit-transform: translate(-25px, -19px);
      -ms-transform: translate(-25px, -19px);
          transform: translate(-25px, -19px);
  z-index: -1;
}

.about-us__description {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5625rem;
}

.decor-about-us {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.decor-about-us__item {
  position: absolute;
  bottom: 0;
}

.decor-about-us__item--one {
  background: url("../img/about-us/decor.svg") 0px 0px no-repeat;
  -webkit-transform: translate(-8.875rem, 6.375rem);
      -ms-transform: translate(-8.875rem, 6.375rem);
          transform: translate(-8.875rem, 6.375rem);
}

/* ----- day-course ------------------------------------------------------------------------------------------------ */

.day-course__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.day-course__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.day-course__button {
  padding: 1.125rem 2.321875rem;
}

.tabs-day-course__title {
  fill: #313131;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  /* 130/18 */
}

.tabs-day-course__body {
  padding: 2.3125rem 2.4375rem 3.0625rem 2rem;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 20px 95px 0px rgba(201, 203, 204, 0.3);
          box-shadow: 0px 20px 95px 0px rgba(201, 203, 204, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.8125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.tabs-day-course__text {
  font-size: 1.125rem;
}

@media (min-width: 28.8125em) {
  .fitness__input {
    border-right: 0;
    border-radius: 0.3125rem 0 0 0.3125rem;
    padding: 1.125rem 1.0625rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 73.125em) {
  .partners__text {
    padding-top: 2.1875rem;
  }
}

@media (min-width: 47.99875em) {
  .about-us__column-one {
    width: 41.3504065041%;
  }

  .about-us__column-twoo {
    width: 47.6056910569%;
    padding-top: 33.5772357724%;
  }

  .about-us__top {
    margin-bottom: 10.25rem;
    max-width: 26.105rem;
  }

  .about-us__header {
    padding-left: 3.75rem;
    max-width: 26.105rem;
  }
}

@media (min-width: 71.125em) {
  .fitness__images {
    top: -2.6875rem;
  }
}

@media (min-width: 73.125em) {
  .text-block__title {
    font-size: 4.0625rem;
  }

  .text-block__subtitle {
    font-size: 1.25rem;
  }

  .header__container {
    min-height: 7.375rem;
  }

  .header__container::before {
    min-height: 7.375rem;
  }

  .header__actions {
    -webkit-column-gap: 1.9375rem;
       -moz-column-gap: 1.9375rem;
            column-gap: 1.9375rem;
  }

  .page__fitness {
    padding-bottom: 6.125rem;
  }

  .fitness__content {
    padding-top: 12.1875rem;
  }

  .fitness__title {
    font-size: 6.25rem;
  }

  .fitness__name::before {
    font-size: 6.4375rem;
  }

  .fitness__text {
    font-size: 1.25rem;
  }

  .fitness__description {
    font-size: 1.25rem;
  }

  .fitness__description:not(:last-child) {
    margin-bottom: 4.125rem;
  }

  .fitness__input::-webkit-input-placeholder {
    font-size: 1.25rem;
  }

  .fitness__input::-moz-placeholder {
    font-size: 1.25rem;
  }

  .fitness__input:-ms-input-placeholder {
    font-size: 1.25rem;
  }

  .fitness__input::-ms-input-placeholder {
    font-size: 1.25rem;
  }

  .fitness__input::placeholder {
    font-size: 1.25rem;
  }

  .partners__container {
    padding-bottom: 8.75rem;
  }

  .partners__container {
    -webkit-column-gap: 5.4375rem;
       -moz-column-gap: 5.4375rem;
            column-gap: 5.4375rem;
  }

  .partners__items {
    gap: 2.5rem;
  }

  .about-us__columns {
    padding-bottom: 6.6875rem;
  }

  .about-us__top {
    margin-bottom: 3.75rem;
  }

  .about-us__image-one-ibg {
    border-top-left-radius: 12.5rem;
  }

  .about-us__image-one-ibg:not(:last-child) {
    margin-bottom: 3.3125rem;
  }

  .about-us__image-one-ibg img {
    border-top-left-radius: 12.5rem;
  }

  .about-us__image-twoo-ibg {
    border-bottom-right-radius: 12.5rem;
  }

  .about-us__image-twoo-ibg img {
    border-bottom-right-radius: 12.5rem;
  }

  .about-us__description {
    font-size: 1.25rem;
  }

  .decor-about-us__item {
    width: 9.9375rem;
  }

  .decor-about-us__item {
    height: 11.5rem;
  }

  .day-course__container {
    padding-top: 9.75rem;
  }

  .day-course__container {
    padding-bottom: 9.75rem;
  }

  .day-course__container {
    -webkit-column-gap: 6.5rem;
       -moz-column-gap: 6.5rem;
            column-gap: 6.5rem;
  }

  .day-course__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 76.875em) {
  .about-us__columns {
    -webkit-column-gap: 6.75rem;
       -moz-column-gap: 6.75rem;
            column-gap: 6.75rem;
  }

  .about-us__header:not(:last-child) {
    margin-bottom: 6.0625rem;
  }
}

@media (min-width: 81.875em) {
  .header__container {
    -webkit-column-gap: 12.6875rem;
       -moz-column-gap: 12.6875rem;
            column-gap: 12.6875rem;
  }

  .menu__list {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (min-width: 48em) {
  .fitness__form {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 62em) {
  .header__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .fitness__images {
    top: 0.0000000625rem;
  }
}

@media (max-width: 20em) {
  .text-block__title {
    font-size: 2.1875rem;
  }

  .text-block__subtitle {
    font-size: 1.0625rem;
  }

  .header__container {
    min-height: 3.125rem;
  }

  .header__container::before {
    min-height: 3.75rem;
  }

  .header__actions {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .page__fitness {
    padding-bottom: 2.5rem;
  }

  .fitness__content {
    padding-top: 3.125rem;
  }

  .fitness__title {
    font-size: 3.75rem;
  }

  .fitness__name::before {
    font-size: 3.75rem;
  }

  .fitness__text {
    font-size: 1.0625rem;
  }

  .fitness__description {
    font-size: 1.0625rem;
  }

  .fitness__description:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .fitness__form {
    margin-bottom: 2.1875rem;
  }

  .fitness__input::-webkit-input-placeholder {
    font-size: 1.0625rem;
  }

  .fitness__input::-moz-placeholder {
    font-size: 1.0625rem;
  }

  .fitness__input:-ms-input-placeholder {
    font-size: 1.0625rem;
  }

  .fitness__input::-ms-input-placeholder {
    font-size: 1.0625rem;
  }

  .fitness__input::placeholder {
    font-size: 1.0625rem;
  }

  .partners__container {
    padding-bottom: 1.5625rem;
  }

  .partners__items {
    gap: 0.9375rem;
  }

  .about-us__columns {
    padding-bottom: 3.125rem;
  }

  .about-us__top {
    margin-bottom: 2.8125rem;
  }

  .about-us__image-one-ibg {
    border-top-left-radius: 6.25rem;
  }

  .about-us__image-one-ibg:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .about-us__image-one-ibg img {
    border-top-left-radius: 6.25rem;
  }

  .about-us__image-twoo-ibg {
    border-bottom-right-radius: 6.25rem;
  }

  .about-us__image-twoo-ibg img {
    border-bottom-right-radius: 6.25rem;
  }

  .about-us__description {
    font-size: 1.0625rem;
  }

  .decor-about-us__item {
    width: 5rem;
  }

  .decor-about-us__item {
    height: 5.9375rem;
  }

  .day-course__container {
    padding-top: 3.125rem;
  }

  .day-course__container {
    padding-bottom: 3.125rem;
  }

  .day-course__container {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .day-course__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 56.25em) {
  .button--big {
    padding: 1.125rem 2.0625rem;
  }

  .header__button {
    padding: 0.625rem 0.5rem;
    min-width: 6.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    text-align: center;
    z-index: 5;
  }

  .header__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(8px) !important;
            backdrop-filter: blur(8px) !important;
    display: block;
    margin-top: 0px;
    padding: 0px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }

  .menu-open .header__menu {
    left: 0;
  }

  .menu-open .header__menu::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
    text-align: center;
  }

  .menu__link {
    text-align: center;
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    background-color: #ccba17;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .fitness__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .fitness__images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .partners__container {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .partners__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about-us__columns {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }

  .about-us__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-us__header:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__menu::before {
    min-height: 4.375rem;
  }

  .header__menu::before {
    min-height: 4.6875rem;
  }

  .page__fitness {
    padding-top: 3.75rem;
  }

  .fitness__content {
    padding-top: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .about-us__container::before {
    display: none;
  }
}

@media (max-width: 28.75em) {
  .button--big {
    border-radius: 0.3125rem;
  }

  .fitness__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}

@media (max-width: 26.25em) {
  .header__link {
    display: inline-block;
    margin-top: 1.5625rem;
    font-size: 1.5625rem;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 2.1875rem , 1.4816176471rem  +  3.5294117647vw , 4.0625rem )) {
    .text-block__title {
      font-size: clamp( 2.1875rem , 1.4816176471rem  +  3.5294117647vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.4816176471rem  +  3.5294117647vw , 4.0625rem )) {
    .text-block__title {
      font-size: calc(2.1875rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .text-block__subtitle {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .text-block__subtitle {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (min-height: clamp( 3.125rem , 1.525rem  +  8vw , 7.375rem )) {
    .header__container {
      min-height: clamp( 3.125rem , 1.525rem  +  8vw , 7.375rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 1.525rem  +  8vw , 7.375rem )) {
    .header__container {
      min-height: calc(3.125rem + 4.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (min-height: clamp( 3.75rem , 2.3852941176rem  +  6.8235294118vw , 7.375rem )) {
    .header__container::before {
      min-height: clamp( 3.75rem , 2.3852941176rem  +  6.8235294118vw , 7.375rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 2.3852941176rem  +  6.8235294118vw , 7.375rem )) {
    .header__container::before {
      min-height: calc(3.75rem + 3.625 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.5610294118rem  +  1.8823529412vw , 1.9375rem )) or (column-gap: clamp( 0.9375rem , 0.5610294118rem  +  1.8823529412vw , 1.9375rem ))) {
    .header__actions {
      -webkit-column-gap: clamp( 0.9375rem , 0.5610294118rem  +  1.8823529412vw , 1.9375rem );
         -moz-column-gap: clamp( 0.9375rem , 0.5610294118rem  +  1.8823529412vw , 1.9375rem );
              column-gap: clamp( 0.9375rem , 0.5610294118rem  +  1.8823529412vw , 1.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5610294118rem  +  1.8823529412vw , 1.9375rem )) or (column-gap: clamp( 0.9375rem , 0.5610294118rem  +  1.8823529412vw , 1.9375rem ))) {
    .header__actions {
      -webkit-column-gap: calc(0.9375rem + 1 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.9375rem + 1 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.9375rem + 1 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1352941176rem  +  6.8235294118vw , 6.125rem )) {
    .page__fitness {
      padding-bottom: clamp( 2.5rem , 1.1352941176rem  +  6.8235294118vw , 6.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1352941176rem  +  6.8235294118vw , 6.125rem )) {
    .page__fitness {
      padding-bottom: calc(2.5rem + 3.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -0.2867647059rem  +  17.0588235294vw , 12.1875rem )) {
    .fitness__content {
      padding-top: clamp( 3.125rem , -0.2867647059rem  +  17.0588235294vw , 12.1875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -0.2867647059rem  +  17.0588235294vw , 12.1875rem )) {
    .fitness__content {
      padding-top: calc(3.125rem + 9.0625 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 3.75rem , 2.8088235294rem  +  4.7058823529vw , 6.25rem )) {
    .fitness__title {
      font-size: clamp( 3.75rem , 2.8088235294rem  +  4.7058823529vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 3.75rem , 2.8088235294rem  +  4.7058823529vw , 6.25rem )) {
    .fitness__title {
      font-size: calc(3.75rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 3.75rem , 2.7382352941rem  +  5.0588235294vw , 6.4375rem )) {
    .fitness__name::before {
      font-size: clamp( 3.75rem , 2.7382352941rem  +  5.0588235294vw , 6.4375rem );
    }
}

@supports not (font-size: clamp( 3.75rem , 2.7382352941rem  +  5.0588235294vw , 6.4375rem )) {
    .fitness__name::before {
      font-size: calc(3.75rem + 2.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .fitness__text {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .fitness__text {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .fitness__description {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .fitness__description {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.4580882353rem  +  3.6470588235vw , 4.125rem )) {
    .fitness__description:not(:last-child) {
      margin-bottom: clamp( 2.1875rem , 1.4580882353rem  +  3.6470588235vw , 4.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.4580882353rem  +  3.6470588235vw , 4.125rem )) {
    .fitness__description:not(:last-child) {
      margin-bottom: calc(2.1875rem + 1.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .fitness__input::-webkit-input-placeholder {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
    .fitness__input::-moz-placeholder {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
    .fitness__input:-ms-input-placeholder {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
    .fitness__input::-ms-input-placeholder {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
    .fitness__input::placeholder {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .fitness__input::-webkit-input-placeholder {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
    .fitness__input::-moz-placeholder {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
    .fitness__input:-ms-input-placeholder {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
    .fitness__input::-ms-input-placeholder {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
    .fitness__input::placeholder {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -1.1433823529rem  +  13.5294117647vw , 8.75rem )) {
    .partners__container {
      padding-bottom: clamp( 1.5625rem , -1.1433823529rem  +  13.5294117647vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -1.1433823529rem  +  13.5294117647vw , 8.75rem )) {
    .partners__container {
      padding-bottom: calc(1.5625rem + 7.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .partners__items {
      gap: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .partners__items {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.7838235294rem  +  6.7058823529vw , 6.6875rem )) {
    .about-us__columns {
      padding-bottom: clamp( 3.125rem , 1.7838235294rem  +  6.7058823529vw , 6.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.7838235294rem  +  6.7058823529vw , 6.6875rem )) {
    .about-us__columns {
      padding-bottom: calc(3.125rem + 3.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.8125rem , 2.4595588235rem  +  1.7647058824vw , 3.75rem )) {
    .about-us__top {
      margin-bottom: clamp( 2.8125rem , 2.4595588235rem  +  1.7647058824vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.8125rem , 2.4595588235rem  +  1.7647058824vw , 3.75rem )) {
    .about-us__top {
      margin-bottom: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (border-top-left-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-one-ibg {
      border-top-left-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem );
    }
}

@supports not (border-top-left-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-one-ibg {
      border-top-left-radius: calc(6.25rem + 6.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.9036764706rem  +  3.2941176471vw , 3.3125rem )) {
    .about-us__image-one-ibg:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.9036764706rem  +  3.2941176471vw , 3.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.9036764706rem  +  3.2941176471vw , 3.3125rem )) {
    .about-us__image-one-ibg:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (border-top-left-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-one-ibg img {
      border-top-left-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem );
    }
}

@supports not (border-top-left-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-one-ibg img {
      border-top-left-radius: calc(6.25rem + 6.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (border-bottom-right-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-twoo-ibg {
      border-bottom-right-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem );
    }
}

@supports not (border-bottom-right-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-twoo-ibg {
      border-bottom-right-radius: calc(6.25rem + 6.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (border-bottom-right-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-twoo-ibg img {
      border-bottom-right-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem );
    }
}

@supports not (border-bottom-right-radius: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .about-us__image-twoo-ibg img {
      border-bottom-right-radius: calc(6.25rem + 6.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .about-us__description {
      font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9919117647rem  +  0.3529411765vw , 1.25rem )) {
    .about-us__description {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (width: clamp( 5rem , 3.1411764706rem  +  9.2941176471vw , 9.9375rem )) {
    .decor-about-us__item {
      width: clamp( 5rem , 3.1411764706rem  +  9.2941176471vw , 9.9375rem );
    }
}

@supports not (width: clamp( 5rem , 3.1411764706rem  +  9.2941176471vw , 9.9375rem )) {
    .decor-about-us__item {
      width: calc(5rem + 4.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (height: clamp( 5.9375rem , 3.8433823529rem  +  10.4705882353vw , 11.5rem )) {
    .decor-about-us__item {
      height: clamp( 5.9375rem , 3.8433823529rem  +  10.4705882353vw , 11.5rem );
    }
}

@supports not (height: clamp( 5.9375rem , 3.8433823529rem  +  10.4705882353vw , 11.5rem )) {
    .decor-about-us__item {
      height: calc(5.9375rem + 5.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.6308823529rem  +  12.4705882353vw , 9.75rem )) {
    .day-course__container {
      padding-top: clamp( 3.125rem , 0.6308823529rem  +  12.4705882353vw , 9.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.6308823529rem  +  12.4705882353vw , 9.75rem )) {
    .day-course__container {
      padding-top: calc(3.125rem + 6.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.6308823529rem  +  12.4705882353vw , 9.75rem )) {
    .day-course__container {
      padding-bottom: clamp( 3.125rem , 0.6308823529rem  +  12.4705882353vw , 9.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.6308823529rem  +  12.4705882353vw , 9.75rem )) {
    .day-course__container {
      padding-bottom: calc(3.125rem + 6.625 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 2.1875rem , 0.5639705882rem  +  8.1176470588vw , 6.5rem )) or (column-gap: clamp( 2.1875rem , 0.5639705882rem  +  8.1176470588vw , 6.5rem ))) {
    .day-course__container {
      -webkit-column-gap: clamp( 2.1875rem , 0.5639705882rem  +  8.1176470588vw , 6.5rem );
         -moz-column-gap: clamp( 2.1875rem , 0.5639705882rem  +  8.1176470588vw , 6.5rem );
              column-gap: clamp( 2.1875rem , 0.5639705882rem  +  8.1176470588vw , 6.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.1875rem , 0.5639705882rem  +  8.1176470588vw , 6.5rem )) or (column-gap: clamp( 2.1875rem , 0.5639705882rem  +  8.1176470588vw , 6.5rem ))) {
    .day-course__container {
      -webkit-column-gap: calc(2.1875rem + 4.3125 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(2.1875rem + 4.3125 * (100vw - 20rem) / 53.125);
              column-gap: calc(2.1875rem + 4.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem )) {
    .day-course__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem )) {
    .day-course__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 62em) and (max-width: 81.875em) {
@supports ((-moz-column-gap: clamp( 2.5rem , -29.2798742138rem  +  51.2578616352vw , 12.6875rem )) or (column-gap: clamp( 2.5rem , -29.2798742138rem  +  51.2578616352vw , 12.6875rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 2.5rem , -29.2798742138rem  +  51.2578616352vw , 12.6875rem );
         -moz-column-gap: clamp( 2.5rem , -29.2798742138rem  +  51.2578616352vw , 12.6875rem );
              column-gap: clamp( 2.5rem , -29.2798742138rem  +  51.2578616352vw , 12.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -29.2798742138rem  +  51.2578616352vw , 12.6875rem )) or (column-gap: clamp( 2.5rem , -29.2798742138rem  +  51.2578616352vw , 12.6875rem ))) {
    .header__container {
      -webkit-column-gap: calc(2.5rem + 10.1875 * (100vw - 62rem) / 19.875);
         -moz-column-gap: calc(2.5rem + 10.1875 * (100vw - 62rem) / 19.875);
              column-gap: calc(2.5rem + 10.1875 * (100vw - 62rem) / 19.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -4.5990566038rem  +  9.4339622642vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -4.5990566038rem  +  9.4339622642vw , 3.125rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -4.5990566038rem  +  9.4339622642vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , -4.5990566038rem  +  9.4339622642vw , 3.125rem );
              column-gap: clamp( 1.25rem , -4.5990566038rem  +  9.4339622642vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -4.5990566038rem  +  9.4339622642vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -4.5990566038rem  +  9.4339622642vw , 3.125rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 62rem) / 19.875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 62rem) / 19.875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 62rem) / 19.875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 73.125em) {
  .header__menu::before {
    min-height: 7.5rem;
  }

  .header__menu::before {
    min-height: 4.6875rem;
  }

  .page__fitness {
    padding-top: 6.125rem;
  }

  .fitness__content {
    padding-top: 3.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 73.125em) {
@supports (min-height: clamp( 4.375rem , 3.1985294118rem  +  5.8823529412vw , 7.5rem )) {
    .header__menu::before {
      min-height: clamp( 4.375rem , 3.1985294118rem  +  5.8823529412vw , 7.5rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.1985294118rem  +  5.8823529412vw , 7.5rem )) {
    .header__menu::before {
      min-height: calc(4.375rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (min-height: clamp( 4.6875rem , 4.6875rem  +  0vw , 4.6875rem )) {
    .header__menu::before {
      min-height: clamp( 4.6875rem , 4.6875rem  +  0vw , 4.6875rem );
    }
}

@supports not (min-height: clamp( 4.6875rem , 4.6875rem  +  0vw , 4.6875rem )) {
    .header__menu::before {
      min-height: calc(4.6875rem + 0 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.8558823529rem  +  4.4705882353vw , 6.125rem )) {
    .page__fitness {
      padding-top: clamp( 3.75rem , 2.8558823529rem  +  4.4705882353vw , 6.125rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.8558823529rem  +  4.4705882353vw , 6.125rem )) {
    .page__fitness {
      padding-top: calc(3.75rem + 2.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem )) {
    .fitness__content {
      padding-top: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem )) {
    .fitness__content {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (margin-bottom: clamp( 2.1875rem , 1.5178571429rem  +  3.3482142857vw , 3.125rem )) {
    .fitness__form {
      margin-bottom: clamp( 2.1875rem , 1.5178571429rem  +  3.3482142857vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.5178571429rem  +  3.3482142857vw , 3.125rem )) {
    .fitness__form {
      margin-bottom: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 62em) and (max-width: 71.125em) {
@supports (top: clamp( -2.6875rem , 18.2602744598rem  +  -29.4520554795vw , 0.0000000625rem )) {
    .fitness__images {
      top: clamp( -2.6875rem , 18.2602744598rem  +  -29.4520554795vw , 0.0000000625rem );
    }
}

@supports not (top: clamp( -2.6875rem , 18.2602744598rem  +  -29.4520554795vw , 0.0000000625rem )) {
    .fitness__images {
      top: calc(0.0000000625rem + -2.6875000625 * (100vw - 62rem) / 9.125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 73.125em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -5.8399240088rem  +  15.4221183026vw , 5.4375rem )) or (column-gap: clamp( 1.5625rem , -5.8399240088rem  +  15.4221183026vw , 5.4375rem ))) {
    .partners__container {
      -webkit-column-gap: clamp( 1.5625rem , -5.8399240088rem  +  15.4221183026vw , 5.4375rem );
         -moz-column-gap: clamp( 1.5625rem , -5.8399240088rem  +  15.4221183026vw , 5.4375rem );
              column-gap: clamp( 1.5625rem , -5.8399240088rem  +  15.4221183026vw , 5.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -5.8399240088rem  +  15.4221183026vw , 5.4375rem )) or (column-gap: clamp( 1.5625rem , -5.8399240088rem  +  15.4221183026vw , 5.4375rem ))) {
    .partners__container {
      -webkit-column-gap: calc(1.5625rem + 3.875 * (100vw - 47.99875rem) / 25.12625);
         -moz-column-gap: calc(1.5625rem + 3.875 * (100vw - 47.99875rem) / 25.12625);
              column-gap: calc(1.5625rem + 3.875 * (100vw - 47.99875rem) / 25.12625);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 73.125em) {
@supports (padding-top: clamp( 1.5625rem , 1.3272058824rem  +  1.1764705882vw , 2.1875rem )) {
    .partners__text {
      padding-top: clamp( 1.5625rem , 1.3272058824rem  +  1.1764705882vw , 2.1875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.3272058824rem  +  1.1764705882vw , 2.1875rem )) {
    .partners__text {
      padding-top: calc(1.5625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .partners__text {
    padding-top: 1.5625rem;
  }
}

@media (min-width: 47.99875em) and (max-width: 76.875em) {
@supports ((-moz-column-gap: clamp( 3.4375rem , -2.0686117484rem  +  11.471364876vw , 6.75rem )) or (column-gap: clamp( 3.4375rem , -2.0686117484rem  +  11.471364876vw , 6.75rem ))) {
    .about-us__columns {
      -webkit-column-gap: clamp( 3.4375rem , -2.0686117484rem  +  11.471364876vw , 6.75rem );
         -moz-column-gap: clamp( 3.4375rem , -2.0686117484rem  +  11.471364876vw , 6.75rem );
              column-gap: clamp( 3.4375rem , -2.0686117484rem  +  11.471364876vw , 6.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.4375rem , -2.0686117484rem  +  11.471364876vw , 6.75rem )) or (column-gap: clamp( 3.4375rem , -2.0686117484rem  +  11.471364876vw , 6.75rem ))) {
    .about-us__columns {
      -webkit-column-gap: calc(3.4375rem + 3.3125 * (100vw - 47.99875rem) / 28.87625);
         -moz-column-gap: calc(3.4375rem + 3.3125 * (100vw - 47.99875rem) / 28.87625);
              column-gap: calc(3.4375rem + 3.3125 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -3.4216673521rem  +  12.3371282628vw , 6.0625rem )) {
    .about-us__header:not(:last-child) {
      margin-bottom: clamp( 2.5rem , -3.4216673521rem  +  12.3371282628vw , 6.0625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -3.4216673521rem  +  12.3371282628vw , 6.0625rem )) {
    .about-us__header:not(:last-child) {
      margin-bottom: calc(2.5rem + 3.5625 * (100vw - 47.99875rem) / 28.87625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #6b6b6b;
    color: #fff;
  }

  .button--white:hover {
    background-color: #ffe500;
  }

  .button-transparent:hover {
    background-color: #ffe500;
    color: #313131;
  }

  .link:hover:before {
    width: 100%;
    right: 0;
  }
}